<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Website</title>
    <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body>
    <header >
        <a href="#home" class="logo">
            <i class='bx bxs-movie'></i>Sakthi Cinema's
        </a>
        <ul class="navbar">
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="#movies">Movies</a></li>
            <li><a href="#coming">Coming</a></li>
        </ul>
        <a href="./login.html" class="btn" style="margin-left: 550px;">Sign In</a>
        <a href="./create_account.html" class="btn">Sign Up</a>
    </header>
    

    <section class="home swiper" id="home" style="margin-top: 70px;">
        <div class="swiper-wrapper">
            <div class="container">
                <img src="./img/home1.png" alt="">
                <div class="home-text" style="margin-top: 190px;">
                    <span style="color: #fff;">Thala Ajith In</span>
                    <h1 style="color: #fff;">Mankatha</h1>
                    <a href="" class="btn">Book Now</a> 
                        <i class='bx bx-play' ></i>
                    </a>
                </div>
            </div>
            <div class="container">
                <img src="./img/home2.jpg" alt="">
                <div class="home-text">
                    <span style="color: #fff;">Marvel Universe</span>
                    <h1 style="color: #fff;">Iron Man </h1>
                    <a href="" class="btn">Book Now</a>
                        <i class='bx bx-play' ></i>
                    </a>
                </div>
            </div>
            <div class="container">
                <img src="./img/home3.jpg" alt="">
                <div class="home-text">
                    <span style="color: #fff;">Marvel Universe</span>
                    <h1 style="color: #fff;">Spider-Man <br>No Way Home</h1>
                    <a href="" class="btn">Book Now</a>
                        <i class='bx bx-play' ></i>
                    </a>
                </div>
            </div>
            <div class="container">
                <img src="./img/home4.png" alt="">
                <div class="home-text">
                    <span style="color: #fff;">Marvel Universe</span>
                    <h1 style="color: #fff;">Avengers: <br>End Game</h1>
                    <a href="" class="btn">Book Now</a>
                        <i class='bx bx-play' ></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div class="movies" id="movies">
        <h2 style="color: #f26198;margin-left: 135px;">Recommended Movies</h2>
        <div class="movies-container">
            <div class="box">
                <div class="box-img">
                    <img src="./img/m1.jpg" alt="">
                </div>
                <h3>Demon Slayer: Kimetsu no Yaiba</h3>
                <span>120 min | Adventure Dark fantasy</span>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="./img/billa.jpg" alt="">
                </div>
                <h3>Billa 2</h3>
                <span>120 min | Action|Crime</span>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="./img/m3.jpg" alt="">
                </div>
                <h3>Batman vs Superman</h3>
                <span>120 min | Action|Fiction</span>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="./img/m4.jpg" alt="">
                </div>
                <h3>John Wick 2</h3>
                <span>120 min | Action|Crime|Thriller</span>
            </div>
        </div>
    </div>

    <section class="coming" id="coming">
        <h2 style="margin-left: 135px;" >Coming Soon</h2>
        <div class="coming-container swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="./img/c2.jpg" alt="">
                    </div>
                    <h3>Despicable Me 4</h3>
                    <span>120 min | Action|Comedy</span>
                </div>
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="./img/c6.jpg" alt="">
                    </div>
                    <h3>Batman Dark Knight</h3>
                    <span>120 min | Action</span>
                </div>
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="./img/c5.jpg" alt="">
                    </div>
                    <h3>Guardians of the Galaxy Vol.3</h3>
                    <span>120 min | Action</span>
                </div>
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="./img/c1.jpg" alt="">
                    </div>
                    <h3>Deadpool & Wolverine</h3>
                    <span>120 min | Action|Comedy</span>
                </div>
                <div class="swiper-slide box">
                    <div class="box-img">
                        <img src="./img/c3.jpg" alt="">
                    </div>
                    <h3>John Wick:Chapter 4</h3>
                    <span>120 min | Action</span>
                </div>
            </div>
        </div>
    </section>
    <br>


    <section>
        <div style="margin-left:195px ;">
            <h1>Highlight This Week</h1>
            <img src="./img/maa.png">
        </div>
    </section>
    
    <section>
        <h1 style="margin-left: 50px;">Upcoming Events</h1>
        <div style="display: flex;margin-left: 30px;">
                        <div>
                            <img src="./img/VJA.png"  style="width: 450px ;height: 258px;margin-right: 60px;">
                            <h4 style="color: black;font-weight: 500;">Vijay Antony Live</h4>
                            <p>Monday,june 06 | 6:00 PM</p>
                            <p style="color: black;font-weight: 500;" >Chennai</p>
                        </div>
                        <div>
                            <img src="./img/yuvan.png" style="width: 450px ;height: 258px;margin-right: 60px;">
                            <h4 style="color: black;font-weight: 500;">YUVAN Live</h4>
                            <p>Monday,March 14 | 4:00 PM</p>
                            <p style="color: black;font-weight: 500;" >Singapore</p>
                        </div>
                        <div>
                            <img src="./img/arr.jpg" style="width: 450px ;height: 258px;">
                            <h4 style="color: black;font-weight: 500;">AR RAHMAN LIVE</h4>
                            <p>Monday,July 24 | 8:00 PM</p>
                            <p style="color: black;font-weight: 500;">Dubai</p>
                        </div>
                </div>
    </section>

    <div class="footer">
        <div class="top">
          <div>
            <h1>Sakthi Cinema's</h1>
            <p>"Movies are the memories of our lifetime. We need to keep them alive"</p>
          </div>
        </div>
        <div class="bottom">
          <div>
            <h1 style="color: #fff;">Categories</h1>
            <a href="/">All</a>
            <a href="/">Horror</a>
            <a href="/">
              Action
            </a>
            <a href="/">Adventure </a>
            <a href="/">
              Comedy
            </a>
          </div>
          <div>
            <h1 style="color: #fff;">Resources</h1>
            <a href="/">User guides</a>
            <a href="/">Help</a>
            <a href="/">Contact</a>
          </div>
          <div>
            <h1 style="color: #fff;">Company</h1>
            <a href="/">About Us</a>
            <a href="/">Support</a>
            <a href="/">Join Us</a>
          </div>
        </div>
        <div class="copyright">
            <p>&#169; Sakthi Cinema's All Right Reserved</p>
        </div>
      </div>
   

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>
</html>